@import "../../Assets/Sass/Veriables.scss";

.profilSection {
    margin-top: 170px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        h3 {
            width: 100%;
            font-weight: 800;
            font-size: 2rem;
            color: $yellow;
            margin: 2rem 0;
        }

        &__left {
            width: 500px;
            background-color: red;

            &__form {
                &__items {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    h6 {
                        color: $gray;
                        font-weight: 600;
                        font-size: 1.5rem;
                    }

                    span {
                        width: 300px;
                        input {
                            width: 100%;
                            padding: .5rem 1rem;
                            border-radius: .5rem;
                            border: 2px solid $gray;
                            color: $black;
                            font-size: 1.1rem;
                            font-weight: 600;
                        }
                    }
                }

                &__btn {
                    border: transparent;
                    border-radius: .5rem;
                    padding: .5rem 1rem;
                    font-weight: 600;
                    background-color: $yellow;
                    color: $black;
                    transition: $transition;

                    &:hover {
                        color: $white;
                    }
                }
            }
        }

        &__right {
            background-color: red;
        }
    }
}

@media only screen and (max-width: 991px) {
    .profilSection {
        margin-top: 90px;
    }
}