@import "../../../../Assets/Sass/Veriables.scss";

.news {
    .container {
        &__title{
            font-size: 2rem;
            font-weight: 700;
            line-height: 30px;
            margin-bottom: 2rem;
        }
        &__list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            &__item {
                margin: .5rem;
                width: 250px;
                display: flex;
                align-items: center;
                box-shadow: 0 0 4px $black;
                padding: .5rem;
                border-radius: .8rem;
                img{
                    width: 71px;
                    height: 71px;
                }
                &__div {
                    margin-left: .5rem;
                    width: 60%;
                    b{
                        font-size: 18px;
                    }
                    p{
                        padding-top: .2rem;
                        color: $yellow;
                        font-size: 1rem;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1199px) {
    .news {
        .container {
            &__list {
                &__item {
                    width: 100%;
                }
            }
        }
    }    
} 


@media only screen and (max-width: 450px) {
    .news {
        .container {
            &__list {
                &__item {
                    padding: .2rem;
                    img{
                        width: 30%;
                    }

                    &__div {
                        b{
                            font-size: 85%;
                        }
                        p{
                            padding: 0;
                            font-size: 70%;
                        }
                    }
                }
            }
        }
    }    
} 