@import '../../../../../Assets/Sass/Veriables.scss';

.item {
    background-image: url("../../../../../Assets/Img/bc-product.png"), url("../../../../../Assets/Img/bc-product1.png");
    background-repeat: no-repeat;
    background-position: left 100px, right bottom;
    padding: 2rem 0;

    .container {
        &__title {
            font-size: 2rem;
            font-weight: 800;
            color: $yellow;
        }
    }
}

.modal {
    top: 170px;

    .title {
        h4 {
            color: $black;
            font-weight: 700;
            font-size: 1.3rem;
            margin: 0;
        }

        b {
            color: $gray;
            font-weight: 600;
        }

        p {
            color: $gray;
            font-weight: 400;
            font-size: .8rem;
        }
    }

    .btnM {
        transition: .5s all ease;
        background-color: $yellow;
    }

    .product{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__img{
            background-color: red;
            width: 48%;
        }
        &__item{
            background-color: red;
            width: 48%;
        }
    }

    .btn {
        background-color: $yellow;
        font-weight: 600;
        color: $white;
        transition: $transition;

        &:hover {
            color: $black;
        }
    }
}

.el {
    color: $yellow;
    font-weight: 600;

    &:hover {
        background-color: $yellow;
        color: $white;
    }
}

.act {
    background-color: $yellow !important;
    color: $white;
}