@import '../../../../../Assets/Sass/Veriables.scss';

.item {
    background-image: url("../../../../../Assets/Img/bc-product.png"), url("../../../../../Assets/Img/bc-product1.png");
    background-repeat: no-repeat;
    background-position: left 100px, right bottom;
    padding: 2rem 0;

    .container {
        &__title {
            font-size: 2rem;
            font-weight: 800;
            color: $yellow;
        }
    }
}

.el {
    color: $yellow;
    font-weight: 600;

    &:hover {
        background-color: $yellow;
        color: $white;
    }
}

.act {
    background-color: $yellow !important;
    color: $white;
}