@import '../../../../Assets/Sass/Veriables.scss';

.intro {
    padding-top: 2rem;
    padding-bottom: 2rem;
    .container{
        &__swiper{
            display: flex;
            justify-content: center;
            img{
                width: 100%;
            }
        }
    }
}
