@import '../../../../Assets/Sass/Veriables.scss';

.intro {
    background-color: $black;
    padding-bottom: 9rem;
    height: 100vh;

    .container {
        display: flex;
        justify-content: space-between;
        background-color: red;
        
    }
}
